    <body>

			<section class="hero-divider">
			
				<div class="background-image-holder overlay">
					<img class="background-image" alt="Poster Image For Mobiles" src="/assets/shine1-min.jpg">
				</div>
						
				<div class="container">
					<div class="row">	
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
						</br>
							<h1 class="text-white">What is Building Blocks?</h1>
							<p class="lead text-white">
								Building Blocks is a sponsor fueled public arts/community outreach program that focuses on site specific material in the area and gives local artist a chance to make a lasting impact on the community, one city block at a time. While simultaneously giving the community the chance to help in the process. 
							</p>
							
							
						</div>
					</div><!--end of row-->
				</div><!--end of row-->
			</section>
			
			<section class="feature-selector">			
				<div class="container">
					<ul class="selector-content">
						<li class="clearfix active">
							<div class="row">
								<div class="col-sm-6 pull-left">
									<h1>How does the community help?</h1>
								</div>
								<div class="col-sm-6 pull-right">
									<h1>What neighborhoods will we focus on?</h1>
								</div>
							</div><!--end of row-->
							
							<div class="row">
								<div class="col-sm-6">
									<p class="lead">
										From the start, the design is ran through the neighborhood council, as well as social media to get ideas on appropriate material and to receive the communities opinion. Afterwards the artist can take the information and interpret it into a piece of their work on a large scale. Neighborhood calls prior to the start of each site encourage individuals in the area to come and help in whatever they can. Also, each wall there is an opportunity for two volunteers to be hired to help at an hourly rate, and learn the process of creating large murals.
									</p>	
								</div>
							
								<div class="col-sm-6">
									<p class="lead">
										Mostly in the west end of Louisville (Russell, California, Parkland, Portland). These are the neighborhoods that truly need positive inspiration, and need beautiful landmarks to send messages that hit home for generations to come. Shelby Park, Park Duvall, Park Hill, and Smoke Town are also targeted by Building Blocks. 
									</p>	
								</div>
							</div><!--end of row-->
							<br>
							<br>
							<div class="row">
								<div class="col-sm-6 pull-left">
									<h1>Are we a gentrification project?</h1>
								</div>
								<div class="col-sm-6 pull-right">
									<h1>How can I support Building Blocks?</h1>
								</div>
							</div><!--end of row-->
							
							<div class="row">
								<div class="col-sm-6">
									<p class="lead">
										No, not at all. Building blocks was created to truly put public art in the hands of the community. It’s a way to encourage people to fully involve themselves in their community and create a deep emotional connection with the city. In hopes people will take it into their own hands to better their community through art, community outreach, volunteer work, or just helping a neighbor in need. 
									</p>	
								</div>
							
								<div class="col-sm-6">
									<p class="lead">
										Alongside our sponsorship packet, Building Blocks gives investors nearly instant gratification upon completion of each project, As well as an interesting way to make a positive impact on the community for years to come. 
									</p>	
								</div>
							</div><!--end of row-->	
							<div class="col-sm-12 text-center">
							<br>
								<%= link_to "Support Us", '/donate', class: "btn btn-primary btn-filled", 'data-no-turbolink' => true %>
							</div>	
						</li><!--end of individual feature content-->
					</ul>
				</div>
			</section>

			<section class="primary-features duplicatable-content">
			
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center text-white">
							<h1 class="text-white">Technical Details</h1>
						</div>
					</div><!--end of row-->
		
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="feature feature-icon-large text-white">
								<h5 class="text-white">Art That Matters</h5>
								<p>
									15+ mural project meant to engage the community in public art.  Each mural is location specific content at each mural with an artists touch.
								</p>
							</div>
						</div><!--end 3 col-->					
						<div class="col-md-3 col-sm-6">
							<div class="feature  feature-icon-large text-white">
								<h5 class="text-white">Education</h5>
								<p>
									Slugger City Sign Co. acts as a teaching platform, helping artists execute large scale works from start to finish. 
								</p>
							</div>
						</div><!--end 3 col-->
					
						<div class="col-md-3 col-sm-6">
							<div class="feature feature-icon-large text-white">
								<h5 class="text-white">Professional Guidance</h5>
								<p>
									Each individual project is designed and executed by local artist, preferably from the neighborhoods in which the mural is located.
								</p>
							</div>
						</div><!--end 3 col-->
						<div class="col-md-3 col-sm-6">
							<div class="feature feature-icon-large text-white">
								<h5 class="text-white">What We Need</h5>
								<p>
									Seeking to work with youth groups, community centers, and other organizations to teach the importance of public art and to teach individuals how they can impact their surroundings in a positive way through it.
								</p>
							</div>
						</div><!--end 3 col-->
					</div><!--end of row-->
				</div>
			
			</section>

			<section class="team-1">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1>The Team</h1>
						</div>
					</div><!--end of row-->
					
					<div class="row space-bottom-large">
						<div class="col-sm-4">
							<div class="team-1-member">
								<img alt="Team Member" src="/assets/team-small-1.png ">
								<h2>Claire Connors</h2>
								<h5>Artist</h5>
								<p class="space-top-small">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								</p>
							</div><!--end of team member-->
						</div>
						
						<div class="col-sm-4">
							<div class="team-1-member">
								<img alt="Team Member" src="/assets/alyx.png ">
								<h2>Branden McClain</h2>
								<h5>Project Leader</h5>
								<p class="space-top-small">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								</p>
							</div><!--end of team member-->
						</div>
						
						<div class="col-sm-4">
							<div class="team-1-member">
								<img alt="Team Member" src="/assets/team-small-2.png">
								<h2>Robin Banks</h2>
								<h5>Artist</h5>
								<p class="space-top-small">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								</p>
							</div><!--end of team member-->
						</div>
						
		
					</div><!--end of row-->
					
					<!--end of row-->
					
				</div><!--end of container-->
			</section>
			
		<div class="footer-container">
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white">© 2016 Slugger City Sign Co.</span>
							<span class="text-white"><a href="#">hello@buildingblocks.com</a></span>
							<span class="text-white">+502 403 8777</span>
							<span class="text-white">Louisville KY, 40206</span>
						</div>
					</div><!--end for row-->
				</div><!--end of container-->
				
				<div class="contact-action">
					<div class="align-vertical">
						<i class="icon text-white icon_mail"></i>
						<a href="contact.html" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
					</div>
				</div>
			</footer>
		</div>

    </body>
</html>
				