<body>

		<div class="main-container">
			<header class="fullscreen-element no-pad centered-text">
				<div class="background-image-holder overlay">
				<div class="background-image-holder overlay">
					<img class="background-image overlay" alt="Poster Image For Mobiles" src="/assets/homeimage-min.png">
				</div>
					<div class="video-wrapper">
						<%= video_tag "videobg.mp4", controls: false, autoplay: true, muted: true, loop: true, class: "video-wrapper", type: "video/mp4" %>
					</div>
				</div>				
				<div class="container align-vertical">
					<div class="row">
						<div class="col-sm-12 text-center">
							<img alt="logo" src="/assets/Logo-Hori.png">
							<br>
							<h1 class="text-white space-bottom-medium">Lets build something together.</h1></br>
								<%= link_to "Contact", '/contact', class: "btn btn-primary btn-filled", 'data-no-turbolink' => true %>
								<%= link_to "Support Us", '/donate', class: "btn btn-primary btn-filled", 'data-no-turbolink' => true %>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>
		</div>
		
		<div class="footer-container">					
			<footer class="social bg-secondary-1">		
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-white">Get In Touch</h1>
							<a href="contact.html" class="text-white"><strong>hello@buildingblocks.com</strong></a><br>
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>

							</ul><br>
							<span class="sub">© Copyright 2016 <a href="#">Slugger City Sign Co.</a> - All Rights Reserved</span>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</footer>
		</div>
    </body>

				