    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>

		<div class="main-container">
			
			<section class="map-overlay">
				<div class="map-holder">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25064.88990527948!2d-85.77198014560548!3d38.253726049187534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886972bb0fde1297%3A0xfa0067294ea29000!2sDowntown%2C+Louisville%2C+KY!5e0!3m2!1sen!2sus!4v1461176409014"></iframe>
				</div>

				
				<div class="container">
					<div class="row">	
						<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<h1 class="text-white"><strong>Thank you for your message! <br> We will be in touch soon.</strong></h1>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>	
						</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			
		</div>
		<div class="footer-container">
		
			<footer class="short bg-secondary-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-10">
							<span class="sub">© Copyright 2016 Building Blocks</span>

						</div>

					</div><!--end of row-->
				</div><!--end of container-->
			</footer>
		</div>

    </body>