<body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>

		<div class="main-container">
			
			<section class="hero-divider">
        <div class="background-image-holder overlay">
          <img class="background-image" alt="Poster Image For Mobiles" src="/assets/shine1-min.jpg">
        </div>

				
				<div class="container">
					<div class="row">	
						<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
							<br>
							<br>
							<h3 class="text-white"><strong>Thank you!</strong></h2><br>
							<h1 class="text-white">Your donation of <strong><%=number_to_currency(@amount * 0.01) %></strong> has been received.</h1>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>	
						</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			
		</div>
		<div class="footer-container">
		
			<footer class="short bg-secondary-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-10">
							<span class="sub">© Copyright 2016 Slugger City Sign Co.</span>

						</div>

					</div><!--end of row-->
				</div><!--end of container-->
			</footer>
		</div>

    </body>